body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.index-container {
    background-color: #E5E5E5;
    border-radius: 6px 6px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    margin: 2px;
}

.btn-navbar {
    margin-top: 7px !important;
}

textarea {
    resize: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.text-large {
    font-size: 150% !important
}

@keyframes showAndHide {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hideOnStart {
    opacity: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
